@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  @apply flex w-full min-h-screen bg-white;
}
.main-container{
  display: grid;
  grid-template-areas:
  "head head head head head"
  "main main main main sidebar"
  "footer footer footer footer footer";
  @apply bg-white w-full;
  grid-template-rows: auto 1fr auto;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
.foot{
  grid-area: footer;
}
.head{
  grid-area: head;
}

.sidebar{
  grid-area: sidebar;
}
.maincontent{
  grid-area: main;
}
.sidebar section input, 
.sidebar section select,
.sidebar section button{
  @apply w-[13rem] min-h-[2rem] rounded;
}

.sidebar section div h3 {
  @apply text-center;
}
