@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
   --header-height:5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
   
  }
}

body {
  @apply flex w-full min-h-screen bg-white;
}

.main-container{
  display: grid;
  @apply bg-white w-full h-full;
  grid-template-rows: auto 1fr auto;
}

.head{
  height: var(--header-height);
  @apply sticky top-0 !important;
}

.maincontent{
  display:grid;
  grid-template-columns: 1fr auto;
  min-height: calc(100vh - var(--header-height));

}

.below-header{
  top: var(--header-height);
}
.login-form label, .registration-form label{
  @apply text-xl;
}
.login-form input, 
.registration-form input,
.registration-form select{
  @apply border-solid border-2 h-[3rem] rounded text-center shadow;
}

.form-group{
  display: grid;
  grid-template-columns: 1fr 2fr;
  @apply bg-red-300;
}


.input-group{
  display:grid;
  grid-template-rows: 2fr 1fr;
  @apply flex flex-col justify-center;
}
.input-group span{
  @apply h-2 text-sm;
}
