@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  @apply flex w-full min-h-screen bg-white;
}
.main-content{
  display: grid;
  grid-template-rows: auto 1fr auto;
  @apply bg-white w-full;
}
.consultation-form label{
  @apply text-xl;
}
.consultation-form input{
  @apply border-solid border-2 h-[3rem] rounded text-center shadow;
}

